header{
    background: #BBBBBB;
    padding: 20px;
}

.caixa{
    position: relative; /* É releativo a algo*/
    width: 940px; /*Qtde de pixels ideal para as telas hoje em dia*/
    margin: 0 auto; /* Margem 0 para cima e para baixo e automática para esquerda e direteita pois acompanha a tela de quem estiver utilizando*/
}

nav{
    position: absolute;
    top:110px; /*Metade do tamanho da imagem, por isso o menu fica correto*/
    right:0;
}

nav li{
    display: inline; /*Entender as diferenças do inline, block e inline-block*/
    margin: 0 0 0 15px; /*Cria uma margem entre as listas TOP, RIGHT, DOWN, LEFT*/
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none; /*Ele só remove o sublinhado do link ou faz mais coisa ?*/
}

nav a:hover{ /*Hover é quando o mouse esta sobre algo, no caso sobre os itens a da tag nav*/
    color: #C78C19;
    text-decoration: underline;
}

.produtos ul{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li{
    display: inline-block; /*O inline-block pode ter o tamanho pode ser ajustado, tanto na largura, quanto na altura.*/
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 0.15%;
    padding: 30px 20px; /*O elemento aumenta o seu tamanho. Quando declaro que existe um espaçamento interno, estou aumentando o conteúdo.*/
    box-sizing: border-box;
    border: 2px solid #000000; /*Passando px / tipo de borda / cor da borda*/
    border-radius: 10px;
}

.produtos li:hover{
    border-color: #C78C19;
}

.produtos li:active{
    border-color: #088C19;
}

.produto li:hover h2{
    font-size: 34px;
}

.produtos h2{
    font-size: 30px;
    font-weight: bold;
}

.produtos-descricao{
    font-size: 18px;
}

.produtos-preco{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    text-align: center;
    background: url("bg.jpg");
    padding: 40px 0;
}

.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}

/*Algumas pseudo-classes CSS
    hover, quando o usuário passa o cursor sobre o elemento
    active, quando um elemento está sendo ativado pelo usuário*/